rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Product images and private files are written by Firebase Admin SDK only.
    match /private/{allPaths=**} {
      allow read, write: if false;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
